version: "3.9"

# =====================================================
# NETWORKS
# =====================================================
networks:
  minio_net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.50.0.0/24
          gateway: 10.50.0.1


# =====================================================
# SERVICES
# =====================================================
services:

  # =========================
  # MINIO
  # =========================
  minio:
    image: minio/minio:latest
    container_name: kaspi_minio
    restart: unless-stopped

    command: server /data --console-address ":9001"

    environment:
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: rootpassword123

    volumes:
      - ./infra_data/minio:/data

    networks:
      minio_net:
        ipv4_address: 10.50.0.10

    # наружу только console (для nginx)
    ports:
      - "127.0.0.1:9001:9001"

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 5s
      timeout: 3s
      retries: 10


  # =========================
  # MINIO AUTO INIT
  # =========================
  minio-init:
    image: minio/mc:latest
    container_name: kaspi_minio_init

    depends_on:
      minio:
        condition: service_healthy

    entrypoint: >
      /bin/sh -c "
      mc alias set local http://10.50.0.10:9000 root rootpassword123 &&

      mc mb -p local/files || true &&

      mc admin user add local app apppassword123 || true &&
      mc admin policy attach local readwrite --user app &&

      echo 'MinIO initialized'
      "

    networks:
      minio_net:
        ipv4_address: 10.50.0.11

    restart: "no"
