version: "3.9"

# =====================================================
# NETWORK
# =====================================================
networks:
  lab_net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.50.0.0/24
          gateway: 10.50.0.1


# =====================================================
# SERVICES
# =====================================================
services:

  # =====================================================
  # MINIO SERVER
  # =====================================================
  minio:
    image: minio/minio:latest
    container_name: kaspi_minio
    restart: unless-stopped

    command: server /data --console-address ":9001"

    environment:
      MINIO_ROOT_USER: root
      MINIO_ROOT_PASSWORD: rootpassword123

      # важно для reverse proxy
      MINIO_BROWSER_REDIRECT_URL: https://kaspi.icod.kz/minio
      MINIO_SERVER_URL: https://kaspi.icod.kz

    volumes:
      - ./infra_data/minio:/data

    networks:
      lab_net:
        ipv4_address: 10.50.0.10

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 5s
      timeout: 3s
      retries: 10



  # =====================================================
  # MINIO AUTO INIT
  # =====================================================
  minio-init:
    image: minio/mc:latest
    container_name: kaspi_minio_init

    depends_on:
      minio:
        condition: service_healthy

    entrypoint: >
      /bin/sh -c "
      echo 'Wait MinIO...' &&
      mc alias set local http://10.50.0.10:9000 root rootpassword123 &&
      
      echo 'Create bucket...' &&
      mc mb -p local/files || true &&
      
      echo 'Enable versioning...' &&
      mc version enable local/files || true &&
      
      echo 'Create app user...' &&
      mc admin user add local app apppassword123 || true &&
      
      echo 'Attach readwrite policy...' &&
      mc admin policy attach local readwrite --user app || true &&
      
      echo 'MinIO INIT OK'
      "

    networks:
      lab_net:
        ipv4_address: 10.50.0.11

    restart: "no"
