version: "3.9"

networks:
  kaspi_lab_net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.50.0.0/24

services:
  minio:
    image: minio/minio:latest
    container_name: kaspi_minio
    restart: unless-stopped

    command: server /data --console-address ":9001"

    environment:
      MINIO_ROOT_USER: admin
      MINIO_ROOT_PASSWORD: admin12345@
      MINIO_SERVER_URL: https://minio-s3.icod.kz
      MINIO_BROWSER_REDIRECT_URL: https://minio-ui.icod.kz

    volumes:
      - ./data:/data

    networks:
      kaspi_lab_net:
        ipv4_address: 10.50.0.10


    mem_limit: 2g
    mem_reservation: 512m
    cpus: "1.5"
    pids_limit: 256

    ulimits:
      nofile:
        soft: 65536
        hard: 65536

    tmpfs:
      - /tmp


    logging:
      driver: "json-file"
      options:
        max-size: "50m"
        max-file: "3"


    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 10s
      retries: 3
