# ===================== ENV =====================
.env
.env.local
.env.*.local

# ===================== MAVEN =====================
target/
!.mvn/wrapper/maven-wrapper.jar

# ===================== LOGS =====================
logs/
*.log

# ===================== OS =====================
.DS_Store
Thumbs.db

# ===================== IDE =====================
.idea/
*.iml
*.ipr
*.iws
.vscode/

# ===================== JAVA =====================
*.class
*.jar
*.war
*.ear
hs_err_pid*

# ===================== SPRING =====================
spring.log

# ===================== NODE (если фронт потом будет) =====================
node_modules/

# ===================== DOCKER =====================
docker-data/
*.pid

# ===================== TEMP =====================
tmp/
temp/
*.tmp
